
<nav>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active a_links" aria-current="page"><img src="../../../assets/img/dashboard.png" alt="Image"> Dashboard +</a>
    </li>
    <li class="nav-item">
      <a class="nav-link a_links" > <img src="../../../assets/img/social.png" alt="Image"> Social +</a>
    </li>
    <li class="nav-item">
      <a class="nav-link a_links"><img src="../../../assets/img/segment.png" alt="Image"> Segment +</a>
    </li>
    <li class="nav-item">
      <a class="nav-link a_links"> <img src="../../../assets/img/product.png" alt="Image"> Product +</a>
    </li>
    <li class="nav-item">
      <a class="nav-link a_links"><img src="../../../assets/img/all.png" alt="Image"> AI Insights +</a>
    </li>
  </ul>
</nav>

