<div class="container principal">
<header><p>  <span class="logo"><img src="../../../assets/img/logo.png" alt="Image"> </span>     <span class="profile"><img src="../../../assets/img/profile.png" alt="Image"> </span>    </p>  </header>
   <p class="second"><span class="name">Hi, Loreak Mediam</span> <span class="profile">  </span></p>
<div class="row">
  <div class="col-2">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-10">
    <h6 class="overview">
      Overview Currency
    </h6>
    <hr>
    <div class="flex-container">
      <div class="chart" *ngFor="let item of currency">
        <div class="row">
          <div class="col-5">
            <div class="imgRedonda">
              <p class="item">{{item.code}}</p>
            </div>
          </div>

          <div class="col-7">
            <p class="start">  {{item.rate}} </p>
            <p class="concept">{{item.description}}  </p>
            <p class="ico"> <i class="fa-solid fa-wallet"></i> </p>
          </div>


        </div>

      </div>


  </div>

  <div class="graphic">
    <div>
      <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
  </div>

   </div>
  </div>


</div>



</div>
